.topbar{
    position: relative;
    width: 100vw;
    /*position: absolute;*/
    /*display: block;*/
    height: 50px;
    background-color: #e3a300;
}

.topbar-text {
    color: white;
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    font-size: 26px;
    font-family: "Baskerville Old Face";
    font-weight: bold;
    letter-spacing: 2px;
}
